@import 'src/lib/mixin/color';

.IndexPage {
  & &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
  }

  & &__gameArea {
    position: relative;
    width: 640px;
    height: 480px;
    border: 1px solid #000000;
    background-color: #000000;
  }

  & &__buttonArea {
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }

  & &__player {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  & &__damageArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & &__charaArea {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    > * + * {
      margin-left: 8px;
    }
  }

  & &__charaButtonActive {
    border: 2px solid #ff0000;
  }

  & &__charaButtonInactive {
    border: 2px solid #ffffff;
  }

  & &__charaButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  & &__bullet {
    position: absolute;
    width: 6px;
    height: 6px;
    transform: translate(-50%, -50%);
    background: #ffff00;
    border-radius: 50%;
  }

  & &__enemyBullet {
    position: absolute;
    width: 6px;
    height: 6px;
    transform: translate(-50%, -50%);
    background: #ff00ff;
    border-radius: 50%;
  }
}
