@import 'src/lib/mixin/color';

.Header {
  & {
    position: sticky;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: $color--black;
  }
}
